body{
    font-family:'Franklin Gothic Medium';
    background: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}
header{
    background-color: #007bff;
    color: #f9f9f9;
    padding: 20px;
    text-align: center;
    font-family:'Franklin Gothic Medium';
}
section{
     padding: 20px;
     margin: 10px Auto;   
     max-width: 600px;
     background-color: #ffffff;
     border-radius: 15px;
     box-shadow: 5px 8px 5px rgba(0,0,0,0.1);
}
header img{
    width: 150px;
    height: 150px;
    border-radius: 250px;
    padding: 20px;

}
h2{
    color: #007bff;
}
footer{
    text-align: center;
    padding: 10px;
    background: #007bff;
    color: #ffffff;
}
.About{
    padding: 20px;

}
.Social-link{
    margin-top: 10px;
}
.Social-link > a{
margin: 0 10px;
color: #ffffff;
text-decoration: none;
font-weight: bold;
}
.Social-link > a:hover{
    text-decoration: underline;
    font-size: 30px;
    color: black;
}
footer >p {
    color: black;
    font-weight: bold;
    font-size: 12px;
}
/*Project list*/
.project-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.project-card{
    background-color: #f9f9f9;
    border-left: 4px solid #007bff;
    padding: 15px;
    border-radius: 8px;
    width: 250px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.113 );
    transition: transform 0.2s;
}
.project-card:hover{
    transform: translateY(-10px);
}
.project-card >h3{
    margin-top: 0;
    color: #007bff;
}
.project-card >p{
    font-size: 14px;
    color: #444;
}
.project-card > a{
    display: inline-block;
    padding: 8px 15px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.2s ease;
}
.project-card >a:hover{
    background-color: #444;
}
nav{
    background-color: #444;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.navbar{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    gap: 20px;
}
.navbar >li >a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    padding: 6px 12px;
    border-radius: 4px;
    transition: background-color 0.2s ease;
}
.navbar >li > a:hover{
    background-color: #007bff;
}